{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
    <style>
        /* Center the form horizontally and add some spacing */
        .bending {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;

        }

        form {
            text-align: center;
        }


    </style>
{% endblock %}
{% block content %}
    <div class="bending">
        <form method="POST" action="/bending">
            <label for="offset_depth">Offset Depth:</label>
            <br>

            <label for="degree">Select Degree:</label>
            <select name="offset_angle" id="degree">
                <option value="10">10</option>
                <option value="22.5">22.5</option>
                <option value="30">30</option>
                <option value="45">45</option>
                <option value="60">60</option>
            </select>


            <h2>Results:</h2>
            <svg xmlns="http://www.w3.org/2000/svg" width="500" height="200">
                <!-- First Line -->
                <line x1="0" y1="100" x2="50" y2="100" stroke="blue" stroke-width="5"></line>

                <!-- Second Line -->
                <line x1="50" y1="100" x2="{{ x2_line2 }}" y2="50" stroke="red" stroke-width="5"></line>

                <!-- Third Line -->
                <line x1="{{ x1_line3 }}" y1="50" x2="{{ x1_line3 + 50 }}" y2="50" stroke="blue"
                      stroke-width="5"></line>
            </svg>


            <p>Offset Depth: {{ offset_depth }}"</p>
            <p>Offset Angle: {{ offset_angle }} degrees</p>
            <p>Distance Between Bends: {{ distance_between_bends }}"</p>
            <p>Conduit Shrinkage: {{ conduit_shrinkage }}"</p>
            <input type="submit" value="Calculate">

        </form>

    </div>
{% endblock %}